*.iws
*.launch
.externalToolBuilders/
.DS_Store
.idea/
.nb-gradle/
.project
.settings/
atlassian-ide-plugin.xml
build/
dist/
nbactions.xml
nbbuild/
nbdist/
nbproject/private/.classpath
.factorypath
.springBeans
target/
blog-task.iml

.gradle

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
